button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #ffcccc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.botao:hover {
    background-color: #ff99cc;
}

.botao:active {
    background-color: #ff99cc;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

span {
    font-size: 24px;
    font-size: 24px;
}

h2 {
    font-size: 34px;;
}